<div class="container" *ngIf="parts.length !== 0">
    <div class="row">
        <div class="col-12">
            <ul *ngFor="let part of parts">
                <li class="mr-1" *ngFor="let display of part.array">
                    {{display.label}}
                </li>
            </ul>
        </div>
        <div class="col-12">
            <ul *ngFor="let part of parts">
                <li [style]="getColor(display.value)" class="text-center border border-dark ml-1" *ngFor="let display of part.array">
                    {{getDisplayValue(display.value)}}
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-10">
            <canvas #canvas>{{chart}}</canvas>
            <table style="margin-left:35px">
                <tbody *ngIf="sections.length !== 0">
                    <tr>
                        <td class="text-center border border-dark" width="200px" *ngFor="let section of sections">
                            {{section.label}}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center border border-dark" *ngFor="let section of sections" [style]="getColor(section.value)">
                            {{getDisplayValue(section.value) + '%'}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <table style="margin-left:35px">
                <tbody *ngIf="sections.length !== 0">
                    <tr>
                        <td class="text-center border border-dark" width="200px">
                            Proceso estrategico
                        </td>
                        <td width="200px" class="border-top border-bottom border-dark"></td>
                        <td width="200px" class="border-top border-bottom border-dark"></td>
                        <td class="text-center border-top border-bottom border-dark" width="200px">
                            Proceso clave
                        </td>
                        <td width="200px" class="border-top border-bottom border-dark"></td>
                        <td width="200px" class="border-top border-bottom border-dark"></td>
                        <td class="text-center border border-dark" width="200px">
                            Proceso soporte
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center border border-dark" [style]="getColor(process.strategicProcess)">
                            {{getDisplayValue(process.strategicProcess) + '%'}}
                        </td>
                        <td class="border-top border-bottom border-dark" width="200px" [style]="getColor(process.keyProcess)"></td>
                        <td class="border-top border-bottom border-dark" width="200px" [style]="getColor(process.keyProcess)"></td>
                        <td class="text-center border-top border-bottom border-dark" [style]="getColor(process.keyProcess)">
                            {{getDisplayValue(process.keyProcess) + '%'}}
                        </td>
                        <td class="border-top border-bottom border-dark" width="200px" [style]="getColor(process.keyProcess)"></td>
                        <td class="border-top border-bottom border-dark" width="200px" [style]="getColor(process.keyProcess)"></td>
                        <td class="text-center border border-dark" [style]="getColor(process.supportProcess)">
                            {{getDisplayValue(process.supportProcess) + '%'}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-2">
            <h4 class="text-nowrap">Secciones de proceso:</h4>
            <div class="col-12 text-nowrap p-0" *ngFor="let name of partsNames">
                {{name}}
            </div>
            <h4 class="text-nowrap" style="margin-top:5%">Nivel de madurez </h4>
            <div class="col-12 text-center p-0" [style]="getColor('100')">85-100 maduro</div>
            <div class="col-12 text-center p-0" [style]="getColor('84')">62-84 En desarrollo</div>
            <div class="col-12 text-center p-0" [style]="getColor('61')">33-61 Artesanal</div>
            <div class="col-12 text-center p-0" [style]="getColor('32')">0-32 Incipiente</div>

        </div>
    </div>
</div>