<div class="container">
    <div class="row">
        <div class="col-10"></div>
    </div>
    <table style="margin-left:35px">
        <tbody *ngIf="parts.length !== 0">
            <tr>
                <td [style]="getColor(part)" class="text-center mr-1" width="47px" *ngFor="let part of parts">
                    {{part}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <div class="row">
        <div class="col-10">
            <canvas #canvas>{{chart}}</canvas>
            <table style="margin-left:35px">
                <tbody *ngIf="sections.length !== 0">
                    <tr>
                        <td class="text-center" width="200px" *ngFor="let section of sections">
                            {{section.label}}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center" *ngFor="let section of sections" [style]="getColor(section.value)">
                            {{section.value + '%'}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <table style="margin-left:35px">
                <tbody *ngIf="sections.length !== 0">
                    <tr>
                        <td class="text-center" width="200px">
                            Proceso estrategico
                        </td>
                        <td width="200px"></td>
                        <td width="200px"></td>
                        <td class="text-center" width="200px">
                            Proceso clave
                        </td>
                        <td width="200px"></td>
                        <td width="200px"></td>
                        <td class="text-center" width="200px">
                            Proceso soporte
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center border border-dark" [style]="getColor(process.strategicProcess)">
                            {{process.strategicProcess + '%'}}
                        </td>
                        <td class="border-top border-bottom border-dark" width="200px" [style]="getColor(process.keyProcess)"></td>
                        <td class="border-top border-bottom border-dark" width="200px" [style]="getColor(process.keyProcess)"></td>
                        <td class="text-center border-top border-bottom border-dark" [style]="getColor(process.keyProcess)">
                            {{process.keyProcess + '%'}}
                        </td>
                        <td class="border-top border-bottom border-dark" width="200px" [style]="getColor(process.keyProcess)"></td>
                        <td class="border-top border-bottom border-dark" width="200px" [style]="getColor(process.keyProcess)"></td>
                        <td class="text-center border border-dark" [style]="getColor(process.supportProcess)">
                            {{process.supportProcess + '%'}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-2">
            <div class="col-12 text-center"> % </div>
            <div class="col-12 text-center p-0" [style]="getColor('100')">85-100 maduro</div>
            <div class="col-12 text-center p-0" [style]="getColor('84')">62-84 En desarrollo</div>
            <div class="col-12 text-center p-0" [style]="getColor('61')">33-61 Artesanal</div>
            <div class="col-12 text-center p-0" [style]="getColor('32')">0-32 Incipiente</div>
        </div>
    </div>

</div>
<div>
</div>

<!-- <div class="row" style="margin-left:35px">
    <div class="col-1 text-center">Proceso estrategico</div>
    <div class="col-10 text-center">Proceso clave</div>
    <div class="col-1 text-center">Proceso soporte</div>
</div>
<div class="row" style="margin-left:35px">
    <div class="col-1 text-center border border-dark" [style]="getColor(process.strategicProcess)">{{process.strategicProcess}}</div>
    <div class="col-10 text-center border border-dark" [style]="getColor(process.keyProcess)">{{process.keyProcess}}</div>
    <div class="col-1 text-center border border-dark" [style]="getColor(process.supportProcess)">{{process.supportProcess}}</div>
</div> -->