<div class="container" style="margin-top:5%;">
  <div class="row">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th class="text-center">
            Buenas Practicas
          </th>
          <th class="text-center">
            Recomendaciones para la mejora
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center" *ngIf="checkPart(1, 1)">
          <td>
              Análisis de riesgos organizacionales
          </td>
          <td>
            Implementar un sistema que permita realizar un análisis de riesgos que se le presentan a la organización, considerando información de factores PESTE, las 5 fuerzas competitivas y la situación interna, que incluya un procedimiento para realizar análisis del entorno, identificar y cuantificar riesgos y establecer prioridades en su atención.
          </td>
        </tr>
        <tr class="text-center" *ngIf="checkPart(1,2)">
          <td>
              Planeación estratégica
          </td>
          <td>
            Establecer un procedimiento para la elaboración o actualización del plan estratégico organizacional, con apoyo en herramientas como el FODA estratégico, considerando información de factores PESTE y análisis de las 5 fuerzas competitivas, para determinar estrategias y objetivos estratégicos, con apoyo en tableros de control que definan indicadores adecuados para la toma de decisiones en sus cuatro perspectivas: finanzas, clientes, procesos y personas.
          </td>
        </tr>
        <tr class="text-center" *ngIf="checkPart(1,3)">
          <td>
              Tableros de control estratégico
          </td>
          <td>
            Definir un sistema para la medición de indicadores estratégicos (tablero de control), que permita realizar una evaluación del cumplimiento de los objetivos y metas estratégicas, generando información adecuada para la toma de decisiones que impacten a toda la organización en sus cuatro perspectivas: finanzas, clientes, procesos y personas.
          </td>
        </tr>
        <tr class="text-center" *ngIf="checkPart(2, 1)">
          <td>
              Planeación de la cadena de suministro
          </td>
          <td>
            Implementar un sistema de planeación de los procesos de compras y/o producción, que permita estimar lo que se requiere para el futuro (¿cuánto producir o comprar?), basándose en pronósticos que se elaboran utilizando los datos históricos guardados (al menos en hojas de cálculo de Excel) de los productos o servicios que se han vendido con o el consumo de materiales.
          </td>
        </tr>
        <tr class="text-center" *ngIf="checkPart(2, 2)">
          <td>
              Documentación de procedimientos
          </td>
          <td>
            Formalizar el sistema para la documentación y control de procedimientos documentados, que favorezca el cumplimiento de criterios y la estandarización, y asegure que la disponibilidad y organización de todo documento crítico relacionado con los procesos clave, los cuales sirven para explicarle a los empleados involucrados lo que deben hacer y facilite la capacitación de nuevos integrantes. 
          </td>
        </tr>
        <tr class="text-center" *ngIf="checkPart(2, 3)">
          <td>
              Medición de indicadores operativos
          </td>
          <td>
            Diseñar un sistema de medición de indicadores (en formato tablero de control), para el seguimiento y control de los procesos. Se han establecido los indicadores y su mecanismo de medición, el cual permita registrar datos en tiempo y obtener reportes sobre las operaciones y las variables que afectan el producto o servicio brindado, para dar un monitoreo adecuado y determinar acciones de mejora. 
          </td>
        </tr>
        <tr class="text-center" *ngIf="checkPart(3, 1)">
          <td>
              Criterios de compras
          </td>
          <td>
            Establecer un sistema de programación de las compras basado en el plan global de la cadena de suministro (que se basa en pronósticos para estimar cuánto y cuándo comprar, considerando la situación actual de los inventarios (cuya información también se registra), donde se establezcan de manera formal los criterios que deben cumplir los productos y sus proveedores.
          </td>
        </tr>
        <tr class="text-center" *ngIf="checkPart(3, 2)">
          <td>
              Selección de proveedores nuevos con base en evaluación
          </td>
          <td>
            Diseñar un sistema de evaluación y selección de nuevos proveedores, a partir de la aplicación de un instrumento que valore criterios establecidos (precio, políticas de pago, ubicación geográfica, tiempo de respuesta comprometida, capacidad de suministro estimada, certificaciones, etc.), hacer la comparación entre proveedores, y hacer la selección de la mejor opción basada en dicha comparación.
          </td>
        </tr>
        <tr class="text-center" *ngIf="checkPart(3, 3)">
          <td>
              Evaluación del desempeño de proveedores 
          </td>
          <td>
            Definir el sistema de evaluación del desempeño de proveedores actuales, con base en indicadores de desempeño (tiempo de entrega, cumplimiento de especificaciones, calidad de productos, etc.), para lo cual se utilizan cuestionarios que son aplicados para regularmente para obtener información necesaria que permita la toma de decisiones basadas en datos.
          </td>
        </tr>
        <tr class="text-center" *ngIf="checkPart(4, 1)">
          <td>
              Programación de la producción y/o distribución
          </td>
          <td>
            Establecer el sistema para la programación de actividades para la prestación del servicio, ligado al sistema de planeación de la cadena de suministro (el cual a partir de pronósticos estima cuánto producir o distribuir), que asegure que la entrega de pedidos se haga en tiempo y forma al cliente, con formatos adecuados y otros documentos de ayuda (mapas, sistema de clientes, plan de rutas, etc., control de vehículos, etc.)
          </td>
        </tr>
        <tr class="text-center" *ngIf="checkPart(4, 2)">
          <td>
              Preparación para la atención de solicitudes del cliente
          </td>
          <td>
            Formalizar el sistema de apoyo a la preparación de la entrega de pedidos el cliente, para que se promueva un servicio de calidad durante “el momento de la verdad”. Esto reflejado en procedimientos, sistemas y otras ayudas, tal como un sistema para el registro de los datos del cliente que acelere el proceso de solicitud, un sistema para mantener orden y limpieza, etc.
          </td>
        </tr>
        <tr class="text-center" *ngIf="checkPart(5, 1)">
          <td>
              Estudios de mercado
          </td>
          <td>
            Elaborar un procedimiento para realizar un estudio de mercado que permita recopilar información necesaria para identificar cambios en necesidades y expectativas actuales y futuras del cliente, y tomar decisiones que orientadas a incrementar la creación de valor que la empresa le entrega en forma de productos y servicios.
          </td>
        </tr>
        <tr class="text-center" *ngIf="checkPart(5, 2)">
          <td>
              Evaluación de la satisfacción del cliente
          </td>
          <td>
            Sistema de evaluación de la satisfacción del cliente que permite conocer la percepción de los clientes sobre los productos y servicios que la empresa le ofrece, de tal manera que se puedan establecer acciones de mejora con base en esta información.
          </td>
        </tr>
        <tr class="text-center" *ngIf="checkPart(6, 1)">
          <td>
              Control de inventarios y almacenamiento
          </td>
          <td>
            Sistema de control de inventario en almacenes, a través del cual se registra formalmente los materiales al momento de su ingreso en almacén y cuando se sacan productos del mismo, se establezcan controles para las personas que pueden hacer las altas y bajas, y una lógica para colocarlos en almacén para favorecer que las primeras entradas sean las primeras salidas y así evitar la obsolescencia. Asimismo, se promueva la generación de datos históricos sobre el consumo de los productos, útiles para el proceso de planeación de compras, a través del cual se busca evitar el exceso de productos en inventario y la correspondiente baja de productividad y rentabilidad.
          </td>
        </tr>
        <tr class="text-center" *ngIf="checkPart(6, 2)">
          <td>
              Detección de necesidades de capacitación
          </td>
          <td>
            Sistema de evaluación del desempeño del personal, asociado a sus perfiles de puesto, que permita detectar necesidades de capacitación y promover su desarrollo.
          </td>
        </tr>
        <tr class="text-center" *ngIf="checkPart(7, 1)">
          <td>
              Medición del clima laboral y cultura organizacional
          </td>
          <td>
            Sistema de medición de clima laboral y cultura organizacional, que permita obtener información relevante para la toma de decisiones orientada a la mejora de las condiciones de trabajo, motivación de los empleados y cumplimiento de las metas organizacionales.
          </td>
        </tr>
        <tr class="text-center" *ngIf="checkPart(7, 2)">
          <td>
              Mantenimiento preventivo 
          </td>
          <td>
            Sistema de mantenimiento que permita programar y controlar el mantenimiento de los equipos requeridos para la operación (maquinaria, equipo de transporte, de oficina, infraestructura, etc.), utilizando hojas de cálculo como apoyo, permitiendo hacer una adecuada planeación que evita que se detenga la operación de la empresa por causa de un activo descompuesto, retrasos en la atención al cliente, quejas por incumplimiento, mermas en la calidad del producto, etc.
          </td>
        </tr>
        <tr class="text-center" *ngIf="checkPart(7, 3)">
          <td>
              Análisis del entorno tecnológico y de innovación
          </td>
          <td>
            Sistema para la búsqueda de información externa relacionada con la tecnología (T del PESTE), que genere información relevante para parte realizar del FODA requerido cuando se hace un plan estratégico, que incluya un procedimiento para realizar análisis del entorno, con sitios propuestos para la búsqueda de información, y un procedimiento para hacer un análisis comparativo de la organización contra sus competidores para identificar fuentes de diferenciación.
          </td>
        </tr>
        <tr class="text-center" *ngIf="checkPart(7, 4)">
          <td>
              Control de ingresos y egresos
          </td>
          <td>
            Sistema de control de egresos e ingresos que facilite la generación de reportes en tiempo y forma, de interés interno (para medición de indicadores financieros) o externos (dirigidos a hacienda, bancos, socios, etc.).
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>