<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>
        Buenas Practicas
      </th>
      <th>
        Recomendaciones para la mejora
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-center">
      <td>
          Análisis de riesgos organizacionales
      </td>
      <td>

      </td>
    </tr>
    <tr class="text-center">
      <td>
          Planeación estratégica
      </td>
      <td>

      </td>
    </tr>
    <tr class="text-center">
      <td>
          Tableros de control estratégico
      </td>
      <td>

      </td>
    </tr>
    <tr class="text-center">
      <td>
          Planeación de la cadena de suministro
      </td>
      <td>

      </td>
    </tr>
    <tr class="text-center">
      <td>
          Documentación de procedimientos
      </td>
      <td>

      </td>
    </tr>
    <tr class="text-center">
      <td>
          Medición de indicadores operativos
      </td>
      <td>

      </td>
    </tr>
    <tr class="text-center">
      <td>
          Criterios de compras
      </td>
      <td>

      </td>
    </tr>
    <tr class="text-center">
      <td>
          Selección de proveedores nuevos con base en evaluación
      </td>
      <td>

      </td>
    </tr>
    <tr class="text-center">
      <td>
          Evaluación del desempeño de proveedores 
      </td>
      <td>

      </td>
    </tr>
    <tr class="text-center">
      <td>
          Programación de la producción y/o distribución
      </td>
      <td>

      </td>
    </tr>
    <tr class="text-center">
      <td>
          Preparación para la atención de solicitudes del cliente
      </td>
      <td>

      </td>
    </tr>
    <tr class="text-center">
      <td>
          Estudios de mercado
      </td>
      <td>

      </td>
    </tr>
    <tr class="text-center">
      <td>
          Evaluación de la satisfacción del cliente
      </td>
      <td>

      </td>
    </tr>
    <tr class="text-center">
      <td>
          Control de inventarios y almacenamiento
      </td>
      <td>

      </td>
    </tr>
    <tr class="text-center">
      <td>
          Detección de necesidades de capacitación
      </td>
      <td>

      </td>
    </tr>
    <tr class="text-center">
      <td>
          Medición del clima laboral y cultura organizacional
      </td>
      <td>

      </td>
    </tr>
    <tr class="text-center">
      <td>
          Mantenimiento preventivo 
      </td>
      <td>

      </td>
    </tr>
    <tr class="text-center">
      <td>
          Análisis del entorno tecnológico y de innovación
      </td>
      <td>

      </td>
    </tr>
    <tr class="text-center">
      <td>
          Control de ingresos y egresos
      </td>
      <td>

      </td>
    </tr>
  </tbody>
</table>