<div class="col-12">
  <div class="row" >
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="col-12">
      <div class="col-4"></div>
      <mat-form-field class="col-4">
        <mat-select formControlName="selected" placeholder="Select one">
          <mat-option *ngFor="let option of dropdownInfo" [value]="option.id">{{option.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button type="submit">Get graphics</button>
      <div class="col-4"></div>
    </form>
  </div>

  <div class="row" *ngIf="!!chartInfo">
    <mat-card class="col-sm-12 col-md-6">
      <app-chart [chartData]="chartInfo.keyProcessChart" [chartType]="types.radar"></app-chart>
    </mat-card>
    <mat-card class="col-sm-12 col-md-6">
      <app-chart [chartData]="chartInfo.strategicChart" [chartType]="types.radar"></app-chart>
    </mat-card>
    <mat-card class="col-sm-12 col-md-6">
      <app-chart [chartData]="chartInfo.supportProcessChart" [chartType]="types.radar"></app-chart>
    </mat-card>
        <!-- 
    <mat-card class="col-12 col-md-6">
      <app-chart [chartData]="chartInfo.organizationalMatureChart" [chartType]="types.hBar"></app-chart>
    </mat-card>
    <mat-card class="col-12">
      <app-chart [chartData]="chartInfo.matureProfileChart" [chartType]="types.bar"></app-chart>
    </mat-card> -->
  </div>
</div>